@model inmobiliariaNortonNoe.Models.Pago

@{
    ViewData["Title"] = "Detalles del Pago";
}
<link rel="stylesheet" href="~/css/Pago/Details.css" />
<h2>Detalles del Pago</h2>

<div class="mb-2">
    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Fecha de Pago:</strong> @Model.Fecha_Pago.ToShortDateString()</p>    
    <p><strong>Monto:</strong> @Model.Monto.ToString("C")</p>
    <p><strong>Contrato ID:</strong> @Model.Id_Contrato</p>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
@if (User.IsInRole("Administrador"))
{  
    <div class="mb-2">
        <p><strong>Cargado por:</strong> @ViewBag.UsuarioEmailAlta</p>
    </div>
    @if (ViewBag.UsuarioEmailBaja != null)
    {
        <div class="mb-2">
            <p><strong>Anulado por:</strong> @ViewBag.UsuarioEmailBaja</p>
        </div>
    }else{
        <a asp-action="Eliminar" asp-route-id="@Model.Id" class="btn btn-danger">Eliminar</a>
    }
}