@model IEnumerable<Contrato>
@{
    ViewData["Title"] = "Lista de Contratos";
}
<link rel="stylesheet" href="~/css/Contrato/Index.css">
<h2>Contratos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Inmueble</th>
            <th>Inquilino</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Monto</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Inmueble.Direccion</td>
                <td>@c.Inquilino.Nombre @c.Inquilino.Apellido</td>
                <td>@c.Fecha_Inicio.ToShortDateString()</td>
                @if (c.Estado == "Anulado")
                {
                    <td>@{
                        var fechaFin = c.Fecha_FinAnt.HasValue ? c.Fecha_FinAnt.Value.ToShortDateString() : "Fecha no disponible";
                    }
                    @fechaFin
                    </td> 
                }else
                {
                    <td>@c.Fecha_Fin.ToShortDateString()</td>
                }
                <td>@c.Monto_Alquiler</td>
                <td>@c.Estado</td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@c.ID_Contrato">Ver Más</a>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@c.ID_Contrato">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-action="Create">Agregar Contrato</a>
<a class="btn btn-secondary" asp-action="IndexBajas">Ver contratos de baja</a>
<a class="btn btn-secondary" asp-action="Busqueda">Buscar Contratos por fecha</a>
<a class="btn btn-secondary" asp-action="BuscarPorInmueble">Buscar Contratos por Inmueble</a>