@model inmobiliariaNortonNoe.Models.Inmueble

@if (Model != null)
{
    <h2>Detalles del Inmueble</h2>

    <div class="form-group">
        <label>Dirección</label>
        <p>@Model.Direccion</p>
    </div>

    <div class="form-group">
        <label>Tipo</label>
        <p>@Model.Tipo</p>
    </div>

    <div class="form-group">
        <label>Uso</label>
        <p>@Model.Uso</p>
    </div>

    <div class="form-group">
        <label>Ambientes</label>
        <p>@Model.Ambientes</p>
    </div>

    <div class="form-group">
        <label>Propietario</label>
        <p>Id del Propietario: @Model.PropietarioId</p>
    </div>

    <a asp-action="Index" class="btn btn-secondary">Volver</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Eliminar" asp-route-id="@Model.Id" class="btn btn-danger">Eliminar</a>
}
else
{
    <p>El inmueble no se encontró.</p>
}
