@model IEnumerable<Inmueble>
    @{
        ViewData["Title"] = "Lista de Inmuebles";
    }
    <link rel="stylesheet" href="~/css/Inmueble/Index.css">
    <h2>Inmuebles</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Dirección</th>
                <th>Precio</th>
                <th>Tipo</th>
                <th>Uso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Direccion</td>
                    <td>@i.Precio</td>
                    <td>@i.Tipo</td>
                    <td>@i.Uso</td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@i.Id">Ver Más</a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@i.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@i.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" asp-action="Create">Agregar Inmueble</a>
    <a class="btn btn-primary" asp-action="Buscar">Buscar Inmuebles por Estado</a>
    <a class="btn btn-primary" asp-action="BuscarPorPropietario">Buscar Inmuebles por Propietario</a>
    <a class="btn btn-primary" asp-action="BuscarDisponiblesPorFechas">Buscar Inmuebles Disponibles por Fechas</a>